.display-area
{
  background: url(../img/budgeting-pic-1.png) no-repeat center;
  background-size: cover;
  height: 400px;
}

.email-block
{
  margin-bottom: 20px;
}

.password-block
{
  margin-bottom: 20px;
}

.information-area-1
{
  background-color: red;
  height: 350px;
}

.information-area-2
{
  background-color: yellow;
  height: 350px;
}

.information-area-3
{
  background-color: blue;
  height: 350px;
}

.register-area
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-button
{
  margin-top: 15px;
}
